<div class="w-1/4 p-4 overflow-y-auto border-r">
  <h2 class="font-bold mb-4">Chats</h2>

  <!-- New Chat Button with Icon -->
  <%= button_to chats_path, method: :post, remote: true, class: "w-full bg-blue-500 text-white p-2 rounded-lg mb-4 hover:bg-blue-600 transition flex items-center justify-center space-x-2" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"/>
    </svg>
    <span>New Chat</span>
  <% end %>


  <ul id="chat-list">
    <% @chats.each do |chat| %>
      <li id="chat-<%= chat.id %>" class="p-2 justify-between items-center">
        <%= link_to "Chat ##{chat.id}", chat_path(chat), class: "block py-2 px-4 bg-blue-100 rounded-md hover:bg-blue-200" %>
      </li>
    <% end %>
  </ul>
</div>
