<!--<div class="w-1/4 bg-gray-100 p-4 overflow-y-auto border-r">-->
<!--  <h2 class="font-bold mb-4">Chats</h2>-->

<%#= button_to "New Chat", chats_path, method: :post, remote: true, class: "w-full bg-blue-500 text-white p-2 rounded-lg mb-4 hover:bg-blue-600 transition" %>

<!--  <div class="space-y-2">-->
<!--    <ul id="chat-list">-->
<%# @chats.each do |chat| %>
<!--        <li class="p-2">-->
<%#= link_to "Chat ##{chat.id}", chat_path(chat), class: "block py-2 px-4 bg-blue-100 rounded-md hover:bg-blue-200" %>

<%#= link_to "Delete", chat_path(chat), method: :delete, data: { confirm: "Are you sure you want to delete this chat?" }, class: "text-red-500 hover:text-red-700 font-bold" %>
<!--        </li>-->
<%# end %>
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<div class="w-1/4 p-4 overflow-y-auto border-r">
  <h2 class="font-bold mb-4">Chats</h2>

  <!-- New Chat Button with Icon -->
  <%= button_to chats_path, method: :post, remote: true, class: "w-full bg-blue-500 text-white p-2 rounded-lg mb-4 hover:bg-blue-600 transition flex items-center justify-center space-x-2" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"/>
    </svg>
    <span>New Chat</span>
  <% end %>


  <div class="space-y-2">
    <ul id="chat-list">
      <% @chats.each do |chat| %>
        <li class="p-2 flex justify-between items-center">
          <%= link_to "Chat ##{chat.id}", chat_path(chat), class: "block py-2 px-4 bg-blue-100 rounded-md hover:bg-blue-200" %>

          <!-- Chat Icon for Delete -->
          <div class="ml-4 flex items-center">
            <%= link_to "Delete", chat_path(chat), method: :delete, data: { confirm: "Are you sure you want to delete this chat?" }, class: "text-red-500" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
              </svg>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
