<div class="flex h-screen w-full">
  <!-- Include Sidebar Partial -->
  <%= render 'sidebar' %>

  <!-- Right Panel: Chat Messages -->
  <div class="w-full md:w-2/3 p-4 flex flex-col">
    <%= render 'chat' %>
  </div>
</div>
